html, body {
  font-family: Georgia, serif;
  background-color: rgb(190,230,227);
  min-width: 25em;
  max-width: 50em;
  margin: 2em 2em;
}

table {
	margin-left: 1em;
	min-width: 37em;
	max-width: 44em;
}

td.company {
	text-decoration: underline;
}

td.rightcolumn {
	text-align: right;
}

#contactinfo {
	line-height: 150%;
	text-align: center;
}

#name {
	line-height: 100%;
	text-align: center;
}

table p {
	font-size: 90%;
}

tr {
	padding-top: .5em;
}
